version: 2.1
jobs:
  build:
    docker:
      - image: php:7.4-cli
    steps:
      - checkout
      - run:
          name: Configure
          command: |
            phpize
            ./configure
      - run:
          name: Build
          command: |
            make -j$(sysctl -n hw.ncpu)
      - run:
          name: Test
          command: |
            make test